@media screen and (max-width: 481px) {
  header{
    .logo{
      img{
        width: 100%;
      }
    }
    .input-group{
      margin-top: 20px;
    }
    .tel_block {
      margin-top: 40px;
      .tel_img {
        height: 40px;
        background: url("../img/tel.png") 15px 0px no-repeat;
      }
      .tel_number{
        a{
          line-height: 40px;
        }
      }
    }/*=== end .tel_block ===*/
  }/*=== end header ===*/
  menu{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    position: relative;
    z-index: 10;
    width: 100%;
    top: 0
  }/*=== end menu ===*/
  .owl-nav{
    .owl-prev{
      background: #fff;
      left: 2%;
    }
    .owl-next{
      background: #fff;
      right: 2%;
    }
    .arrow{
      height: 100%;
      position: absolute;
      top: 0;
      width: 35px;
      border-radius: 0;
      opacity: 0.5;
    }
    .glyphicon{
    }:before{
       font-size: 25px;
       left: 0;
       position: absolute;
       top: 40%;
       opacity: 1;
     }
  }/*=== end slider ===*/

}