@media screen and (max-width: 991px) {
  header{
    .logo{
      margin-top: 28px;
      text-align: center;
      img{
        width: 100%;
      }
    }
    .tel_block {
      margin-top: 40px;
      .tel_img {
        height: 40px;
        background: url("../img/tel.png") 45px 3px no-repeat;
      }
    }/*=== end .tel_block ===*/
  }
  menu{
    font-size: 18px;
    .navbar-default{
      .navbar-collapse{
        .navbar-nav{
          padding: 8px 0;
          li{
            padding: 0 8px;
            a{
              padding: 10px;
            }:hover{
             }&:first-child{
                padding-left: 8px;
              }
          }
        }
      }
    }
  }
  /*=== end menu===*/
  .slider_content{
    border-bottom: 5px solid #d6d6d6;
    .sales{
      bottom: 235px;
      left: 25%;
      font-size: 20px;
    }h3{
       line-height: 15px;
       span{
         font-size: 30px;
       }
     }
    h3:last-child{
      font-size: 30px;
    }
    .description{
      position: relative;
      bottom: 0;
      width: 100%;
      border-top: 5px solid #d6d6d6;
      h4{
        font-size: 22px;
      }
      p{
      }
    }
  }
  /*=== end slider===*/
}




