.bg_container{
  background: #f6f6f6;
  margin-top: 80px;
  border-top: 5px solid #d6d6d6;
  .catalog{
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-bottom: 30px;
    .slider_catalog{
      padding:0 47px;
      img{
        height: 190px;
      }
      .slide_item{
        background: #fff;
        margin: 10px 0 20px;
        height: 220px;
        border: 1px solid #d6d6d6 ;
        h5{
          text-align: center;
          text-transform: uppercase;
        }
      }
      .hover_item{
        cursor: pointer;
        background: rgba(153,107,112,1);
      }
      .img_bg_opacity{
        opacity: 0.7;
      }
      .white_color{
        color: #fff;
        opacity: 1;
      }
    }
    .nav_block{
      background: #a58e91;
      position: absolute;
      top: 63px;
      height: 80%;
      width: 2%;
    }
    .nav_block_left{
    }
    .nav_block_right{
      right: 15px;
    }
    .owl-controls{
      .owl-nav{
        .owl-prev{
          left: -15px;
          position: absolute;
          z-index: 10;
          font-size: 50px;
          top: 45%;
        }:hover{
        opacity: 0.5;
          }
        .owl-next{
          right: -15px;
          position: absolute;
          z-index: 10;
          font-size: 50px;
          top: 45%;
        }:hover{
           opacity: 0.5;
         }
      }
    }
  }
}
