.owl-nav{
  .owl-prev{
    background: #fff;
    left: 10%;
  }
  .owl-next{
    background: #fff;
    right: 10%;
  }
  .arrow{
    height: 64px;
    position: absolute;
    top: 60%;
    width: 64px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.5;
  }:hover{
     opacity: 1;
   }
  .glyphicon{
    }:before{
       font-size: 30px;
       left: 15px;
       position: absolute;
       top: 25%;
       }

  }


